<?xml version="1.0" encoding="UTF-8"?> 
<java version="1.6.0_41" class="java.beans.XMLDecoder"> 
 <object class="org.flowvisor.config.ConfDirEntry"> 
  <void property="entries"> 
   <object class="java.util.HashMap"> 
    <void method="put"> 
     <string>flowvisor</string> 
     <object class="org.flowvisor.config.ConfDirEntry"> 
      <void property="entries"> 
       <object class="java.util.HashMap"> 
        <void method="put"> 
         <string>api_webserver_port</string> 
         <object class="org.flowvisor.config.ConfIntEntry"> 
          <void property="int"> 
           <int>8080</int> 
          </void> 
          <void property="name"> 
           <string>api_webserver_port</string> 
          </void> 
          <void property="persistent"> 
           <boolean>true</boolean> 
          </void> 
         </object> 
        </void> 
        <void method="put"> 
         <string>api_jetty_webserver_port</string> 
         <object class="org.flowvisor.config.ConfIntEntry"> 
          <void property="int"> 
           <int>-1</int> 
          </void> 
          <void property="name"> 
           <string>api_jetty_webserver_port</string> 
          </void> 
          <void property="persistent"> 
           <boolean>true</boolean> 
          </void> 
         </object> 
        </void> 
        <void method="put"> 
         <string>log_ident</string> 
         <object class="org.flowvisor.config.ConfStrEntry"> 
          <void property="name"> 
           <string>log_ident</string> 
          </void> 
          <void property="persistent"> 
           <boolean>true</boolean> 
          </void> 
          <void property="string"> 
           <string>flowvisor</string> 
          </void> 
         </object> 
        </void> 
        <void method="put"> 
         <string>checkpointing</string> 
         <object class="org.flowvisor.config.ConfBoolEntry"> 
          <void property="bool"> 
           <boolean>true</boolean> 
          </void> 
          <void property="name"> 
           <string>checkpointing</string> 
          </void> 
          <void property="persistent"> 
           <boolean>true</boolean> 
          </void> 
         </object> 
        </void> 
        <void method="put"> 
         <string>listen_port</string> 
         <object class="org.flowvisor.config.ConfIntEntry"> 
          <void property="int"> 
           <int>6633</int> 
          </void> 
          <void property="name"> 
           <string>listen_port</string> 
          </void> 
          <void property="persistent"> 
           <boolean>true</boolean> 
          </void> 
         </object> 
        </void> 
        <void method="put"> 
         <string>track_flows</string> 
         <object class="org.flowvisor.config.ConfBoolEntry"> 
          <void property="name"> 
           <string>track_flows</string> 
          </void> 
          <void property="persistent"> 
           <boolean>true</boolean> 
          </void> 
         </object> 
        </void> 
        <void method="put"> 
         <string>logging</string> 
         <object class="org.flowvisor.config.ConfStrEntry"> 
          <void property="name"> 
           <string>logging</string> 
          </void> 
          <void property="persistent"> 
           <boolean>true</boolean> 
          </void> 
          <void property="string"> 
           <string>NOTE</string> 
          </void> 
         </object> 
        </void> 
        <void method="put"> 
         <string>stats_desc_hack</string> 
         <object class="org.flowvisor.config.ConfBoolEntry"> 
          <void property="bool"> 
           <boolean>true</boolean> 
          </void> 
          <void property="name"> 
           <string>stats_desc_hack</string> 
          </void> 
          <void property="persistent"> 
           <boolean>true</boolean> 
          </void> 
         </object> 
        </void> 
        <void method="put"> 
         <string>run_topology_server</string> 
         <object class="org.flowvisor.config.ConfBoolEntry"> 
          <void property="bool"> 
           <boolean>true</boolean> 
          </void> 
          <void property="name"> 
           <string>run_topology_server</string> 
          </void> 
          <void property="persistent"> 
           <boolean>true</boolean> 
          </void> 
         </object> 
        </void> 
        <void method="put"> 
         <string>log_facility</string> 
         <object class="org.flowvisor.config.ConfStrEntry"> 
          <void property="name"> 
           <string>log_facility</string> 
          </void> 
          <void property="persistent"> 
           <boolean>true</boolean> 
          </void> 
          <void property="string"> 
           <string>LOG_LOCAL7</string> 
          </void> 
         </object> 
        </void> 
       </object> 
      </void> 
      <void property="name"> 
       <string>flowvisor</string> 
      </void> 
      <void property="persistent"> 
       <boolean>true</boolean> 
      </void> 
     </object> 
    </void> 
    <void method="put"> 
     <string>switches</string> 
     <object class="org.flowvisor.config.ConfDirEntry"> 
      <void property="entries"> 
       <object class="java.util.HashMap"> 
        <void method="put"> 
         <string>default</string> 
         <object class="org.flowvisor.config.ConfDirEntry"> 
          <void property="entries"> 
           <object class="java.util.HashMap"> 
            <void method="put"> 
             <string>flood_perm</string> 
             <object class="org.flowvisor.config.ConfStrEntry"> 
              <void property="name"> 
               <string>flood_perm</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
              <void property="string"> 
               <string>fvadmin</string> 
              </void> 
             </object> 
            </void> 
           </object> 
          </void> 
          <void property="name"> 
           <string>default</string> 
          </void> 
          <void property="persistent"> 
           <boolean>true</boolean> 
          </void> 
         </object> 
        </void> 
       </object> 
      </void> 
      <void property="name"> 
       <string>switches</string> 
      </void> 
      <void property="persistent"> 
       <boolean>true</boolean> 
      </void> 
     </object> 
    </void> 
    <void method="put"> 
     <string>flowspace</string> 
     <object class="org.flowvisor.config.ConfFlowMapEntry"> 
      <void property="flowMap"> 
       <object class="org.flowvisor.flows.LinearFlowMap"> 
        <void property="rules"> 
         <void method="add"> 
          <object class="org.flowvisor.flows.FlowEntry"> 
           <void property="DPID"> 
            <long>-9223372036854775808</long> 
           </void> 
           <void property="actionsList"> 
            <object class="java.util.LinkedList"> 
             <void method="add"> 
              <object class="org.flowvisor.flows.SliceAction"> 
               <void property="sliceName"> 
                <string>charlie</string> 
               </void> 
               <void property="slicePerms"> 
                <int>4</int> 
               </void> 
               <void property="vendor"> 
                <int>-2147483647</int> 
               </void> 
              </object> 
             </void> 
            </object> 
           </void> 
           <void property="id"> 
            <int>1</int> 
           </void> 
           <void property="priority"> 
            <int>100</int> 
           </void> 
           <void property="ruleMatch"> 
            <object class="org.openflow.protocol.OFMatch"/> 
           </void> 
          </object> 
         </void> 
        </void> 
       </object> 
      </void> 
      <void property="name"> 
       <string>flowspace</string> 
      </void> 
      <void property="persistent"> 
       <boolean>true</boolean> 
      </void> 
     </object> 
    </void> 
    <void method="put"> 
     <string>vt_db_passwd</string> 
     <object class="org.flowvisor.config.ConfStrEntry"> 
      <void property="name"> 
       <string>vt_db_passwd</string> 
      </void> 
      <void property="persistent"> 
       <boolean>true</boolean> 
      </void> 
      <void property="string"> 
       <string>flowvisor</string> 
      </void> 
     </object> 
    </void> 
    <void method="put"> 
     <string>vt_db_user</string> 
     <object class="org.flowvisor.config.ConfStrEntry"> 
      <void property="name"> 
       <string>vt_db_user</string> 
      </void> 
      <void property="persistent"> 
       <boolean>true</boolean> 
      </void> 
      <void property="string"> 
       <string>flowvisor</string> 
      </void> 
     </object> 
    </void> 
    <void method="put"> 
     <string>vt_enable_vtplanner_stats</string> 
     <object class="org.flowvisor.config.ConfIntEntry"> 
      <void property="int"> 
       <int>1</int> 
      </void> 
      <void property="name"> 
       <string>vt_enable_vtplanner_stats</string> 
      </void> 
      <void property="persistent"> 
       <boolean>true</boolean> 
      </void> 
     </object> 
    </void> 
    <void method="put"> 
     <string>vt_db_ip_address</string> 
     <object class="org.flowvisor.config.ConfStrEntry"> 
      <void property="name"> 
       <string>vt_db_ip_address</string> 
      </void> 
      <void property="persistent"> 
       <boolean>true</boolean> 
      </void> 
      <void property="string"> 
       <string>127.0.0.1</string> 
      </void> 
     </object> 
    </void> 
    <void method="put"> 
     <string>slices</string> 
     <object class="org.flowvisor.config.ConfDirEntry"> 
      <void property="entries"> 
       <object class="java.util.HashMap"> 
        <void method="put"> 
         <string>fvadmin</string> 
         <object class="org.flowvisor.config.ConfDirEntry"> 
          <void property="entries"> 
           <object class="java.util.HashMap"> 
            <void method="put"> 
             <string>passwd_salt</string> 
             <object class="org.flowvisor.config.ConfStrEntry"> 
              <void property="name"> 
               <string>passwd_salt</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
              <void property="string"> 
               <string>sillysalt</string> 
              </void> 
             </object> 
            </void> 
            <void method="put"> 
             <string>contact_email</string> 
             <object class="org.flowvisor.config.ConfStrEntry"> 
              <void property="name"> 
               <string>contact_email</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
              <void property="string"> 
               <string>fvadmin@localhost</string> 
              </void> 
             </object> 
            </void> 
            <void method="put"> 
             <string>slice_is_virtual</string> 
             <object class="org.flowvisor.config.ConfBoolEntry"> 
              <void property="name"> 
               <string>slice_is_virtual</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
             </object> 
            </void> 
            <void method="put"> 
             <string>links</string> 
             <object class="org.flowvisor.config.ConfDirEntry"> 
              <void property="entries"> 
               <object class="java.util.HashMap"/> 
              </void> 
              <void property="name"> 
               <string>links</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
             </object> 
            </void> 
            <void method="put"> 
             <string>controller_hostname</string> 
             <object class="org.flowvisor.config.ConfStrEntry"> 
              <void property="name"> 
               <string>controller_hostname</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
              <void property="string"> 
               <string>localhost</string> 
              </void> 
             </object> 
            </void> 
            <void method="put"> 
             <string>controller_port</string> 
             <object class="org.flowvisor.config.ConfIntEntry"> 
              <void property="int"> 
               <int>42788</int> 
              </void> 
              <void property="name"> 
               <string>controller_port</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
             </object> 
            </void> 
            <void method="put"> 
             <string>passwd_crypt</string> 
             <object class="org.flowvisor.config.ConfStrEntry"> 
              <void property="name"> 
               <string>passwd_crypt</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
              <void property="string"> 
               <string>e65ef56ef2e0d92692ebd7f19c571131</string> 
              </void> 
             </object> 
            </void> 
            <void method="put"> 
             <string>creator</string> 
             <object class="org.flowvisor.config.ConfStrEntry"> 
              <void property="name"> 
               <string>creator</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
              <void property="string"> 
               <string>fvadmin</string> 
              </void> 
             </object> 
            </void> 
           </object> 
          </void> 
          <void property="name"> 
           <string>fvadmin</string> 
          </void> 
          <void property="persistent"> 
           <boolean>true</boolean> 
          </void> 
         </object> 
        </void> 
        <void method="put"> 
         <string>charlie</string> 
         <object class="org.flowvisor.config.ConfDirEntry"> 
          <void property="entries"> 
           <object class="java.util.HashMap"> 
            <void method="put"> 
             <string>passwd_salt</string> 
             <object class="org.flowvisor.config.ConfStrEntry"> 
              <void property="name"> 
               <string>passwd_salt</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
              <void property="string"> 
               <string>1887122416</string> 
              </void> 
             </object> 
            </void> 
            <void method="put"> 
             <string>contact_email</string> 
             <object class="org.flowvisor.config.ConfStrEntry"> 
              <void property="name"> 
               <string>contact_email</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
              <void property="string"> 
               <string>asdf@asdf.it</string> 
              </void> 
             </object> 
            </void> 
            <void method="put"> 
             <string>slice_is_virtual</string> 
             <object class="org.flowvisor.config.ConfBoolEntry"> 
              <void property="name"> 
               <string>slice_is_virtual</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
             </object> 
            </void> 
            <void method="put"> 
             <string>controller_port</string> 
             <object class="org.flowvisor.config.ConfIntEntry"> 
              <void property="int"> 
               <int>10001</int> 
              </void> 
              <void property="name"> 
               <string>controller_port</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
             </object> 
            </void> 
            <void method="put"> 
             <string>controller_hostname</string> 
             <object class="org.flowvisor.config.ConfStrEntry"> 
              <void property="name"> 
               <string>controller_hostname</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
              <void property="string"> 
               <string>localhost</string> 
              </void> 
             </object> 
            </void> 
            <void method="put"> 
             <string>links</string> 
             <object class="org.flowvisor.config.ConfDirEntry"> 
              <void property="entries"> 
               <object class="java.util.HashMap"> 
                <void method="put"> 
                 <string>2</string> 
                 <object class="org.flowvisor.config.ConfDirEntry"> 
                  <void property="entries"> 
                   <object class="java.util.HashMap"> 
                    <void method="put"> 
                     <string>hops_number</string> 
                     <object class="org.flowvisor.config.ConfIntEntry"> 
                      <void property="int"> 
                       <int>2</int> 
                      </void> 
                      <void property="name"> 
                       <string>hops_number</string> 
                      </void> 
                      <void property="persistent"> 
                       <boolean>true</boolean> 
                      </void> 
                     </object> 
                    </void> 
                    <void method="put"> 
                     <string>hops</string> 
                     <object class="org.flowvisor.config.ConfDirEntry"> 
                      <void property="entries"> 
                       <object class="java.util.HashMap"> 
                        <void method="put"> 
                         <string>2</string> 
                         <object class="org.flowvisor.config.ConfDirEntry"> 
                          <void property="entries"> 
                           <object class="java.util.HashMap"> 
                            <void method="put"> 
                             <string>source_dpid</string> 
                             <object class="org.flowvisor.config.ConfStrEntry"> 
                              <void property="name"> 
                               <string>source_dpid</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                              <void property="string"> 
                               <string>02:08:02:08:00:00:00:01</string> 
                              </void> 
                             </object> 
                            </void> 
                            <void method="put"> 
                             <string>destination_dpid</string> 
                             <object class="org.flowvisor.config.ConfStrEntry"> 
                              <void property="name"> 
                               <string>destination_dpid</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                              <void property="string"> 
                               <string>02:08:02:08:00:00:00:03</string> 
                              </void> 
                             </object> 
                            </void> 
                            <void method="put"> 
                             <string>destination_port</string> 
                             <object class="org.flowvisor.config.ConfIntEntry"> 
                              <void property="int"> 
                               <int>26</int> 
                              </void> 
                              <void property="name"> 
                               <string>destination_port</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                             </object> 
                            </void> 
                            <void method="put"> 
                             <string>source_port</string> 
                             <object class="org.flowvisor.config.ConfIntEntry"> 
                              <void property="int"> 
                               <int>26</int> 
                              </void> 
                              <void property="name"> 
                               <string>source_port</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                             </object> 
                            </void> 
                           </object> 
                          </void> 
                          <void property="name"> 
                           <string>2</string> 
                          </void> 
                          <void property="persistent"> 
                           <boolean>true</boolean> 
                          </void> 
                         </object> 
                        </void> 
                        <void method="put"> 
                         <string>1</string> 
                         <object class="org.flowvisor.config.ConfDirEntry"> 
                          <void property="entries"> 
                           <object class="java.util.HashMap"> 
                            <void method="put"> 
                             <string>source_dpid</string> 
                             <object class="org.flowvisor.config.ConfStrEntry"> 
                              <void property="name"> 
                               <string>source_dpid</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                              <void property="string"> 
                               <string>02:08:02:08:00:00:00:06</string> 
                              </void> 
                             </object> 
                            </void> 
                            <void method="put"> 
                             <string>destination_dpid</string> 
                             <object class="org.flowvisor.config.ConfStrEntry"> 
                              <void property="name"> 
                               <string>destination_dpid</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                              <void property="string"> 
                               <string>02:08:02:08:00:00:00:01</string> 
                              </void> 
                             </object> 
                            </void> 
                            <void method="put"> 
                             <string>destination_port</string> 
                             <object class="org.flowvisor.config.ConfIntEntry"> 
                              <void property="int"> 
                               <int>3</int> 
                              </void> 
                              <void property="name"> 
                               <string>destination_port</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                             </object> 
                            </void> 
                            <void method="put"> 
                             <string>source_port</string> 
                             <object class="org.flowvisor.config.ConfIntEntry"> 
                              <void property="int"> 
                               <int>3</int> 
                              </void> 
                              <void property="name"> 
                               <string>source_port</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                             </object> 
                            </void> 
                           </object> 
                          </void> 
                          <void property="name"> 
                           <string>1</string> 
                          </void> 
                          <void property="persistent"> 
                           <boolean>true</boolean> 
                          </void> 
                         </object> 
                        </void> 
                       </object> 
                      </void> 
                      <void property="name"> 
                       <string>hops</string> 
                      </void> 
                      <void property="persistent"> 
                       <boolean>true</boolean> 
                      </void> 
                     </object> 
                    </void> 
                   </object> 
                  </void> 
                  <void property="name"> 
                   <string>2</string> 
                  </void> 
                  <void property="persistent"> 
                   <boolean>true</boolean> 
                  </void> 
                 </object> 
                </void> 
                <void method="put"> 
                 <string>1</string> 
                 <object class="org.flowvisor.config.ConfDirEntry"> 
                  <void property="entries"> 
                   <object class="java.util.HashMap"> 
                    <void method="put"> 
                     <string>hops_number</string> 
                     <object class="org.flowvisor.config.ConfIntEntry"> 
                      <void property="int"> 
                       <int>2</int> 
                      </void> 
                      <void property="name"> 
                       <string>hops_number</string> 
                      </void> 
                      <void property="persistent"> 
                       <boolean>true</boolean> 
                      </void> 
                     </object> 
                    </void> 
                    <void method="put"> 
                     <string>hops</string> 
                     <object class="org.flowvisor.config.ConfDirEntry"> 
                      <void property="entries"> 
                       <object class="java.util.HashMap"> 
                        <void method="put"> 
                         <string>2</string> 
                         <object class="org.flowvisor.config.ConfDirEntry"> 
                          <void property="entries"> 
                           <object class="java.util.HashMap"> 
                            <void method="put"> 
                             <string>source_dpid</string> 
                             <object class="org.flowvisor.config.ConfStrEntry"> 
                              <void property="name"> 
                               <string>source_dpid</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                              <void property="string"> 
                               <string>02:08:02:08:00:00:00:01</string> 
                              </void> 
                             </object> 
                            </void> 
                            <void method="put"> 
                             <string>destination_dpid</string> 
                             <object class="org.flowvisor.config.ConfStrEntry"> 
                              <void property="name"> 
                               <string>destination_dpid</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                              <void property="string"> 
                               <string>02:08:02:08:00:00:00:02</string> 
                              </void> 
                             </object> 
                            </void> 
                            <void method="put"> 
                             <string>destination_port</string> 
                             <object class="org.flowvisor.config.ConfIntEntry"> 
                              <void property="int"> 
                               <int>25</int> 
                              </void> 
                              <void property="name"> 
                               <string>destination_port</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                             </object> 
                            </void> 
                            <void method="put"> 
                             <string>source_port</string> 
                             <object class="org.flowvisor.config.ConfIntEntry"> 
                              <void property="int"> 
                               <int>25</int> 
                              </void> 
                              <void property="name"> 
                               <string>source_port</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                             </object> 
                            </void> 
                           </object> 
                          </void> 
                          <void property="name"> 
                           <string>2</string> 
                          </void> 
                          <void property="persistent"> 
                           <boolean>true</boolean> 
                          </void> 
                         </object> 
                        </void> 
                        <void method="put"> 
                         <string>1</string> 
                         <object class="org.flowvisor.config.ConfDirEntry"> 
                          <void property="entries"> 
                           <object class="java.util.HashMap"> 
                            <void method="put"> 
                             <string>source_dpid</string> 
                             <object class="org.flowvisor.config.ConfStrEntry"> 
                              <void property="name"> 
                               <string>source_dpid</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                              <void property="string"> 
                               <string>02:08:02:08:00:00:00:06</string> 
                              </void> 
                             </object> 
                            </void> 
                            <void method="put"> 
                             <string>destination_dpid</string> 
                             <object class="org.flowvisor.config.ConfStrEntry"> 
                              <void property="name"> 
                               <string>destination_dpid</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                              <void property="string"> 
                               <string>02:08:02:08:00:00:00:01</string> 
                              </void> 
                             </object> 
                            </void> 
                            <void method="put"> 
                             <string>destination_port</string> 
                             <object class="org.flowvisor.config.ConfIntEntry"> 
                              <void property="int"> 
                               <int>3</int> 
                              </void> 
                              <void property="name"> 
                               <string>destination_port</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                             </object> 
                            </void> 
                            <void method="put"> 
                             <string>source_port</string> 
                             <object class="org.flowvisor.config.ConfIntEntry"> 
                              <void property="int"> 
                               <int>3</int> 
                              </void> 
                              <void property="name"> 
                               <string>source_port</string> 
                              </void> 
                              <void property="persistent"> 
                               <boolean>true</boolean> 
                              </void> 
                             </object> 
                            </void> 
                           </object> 
                          </void> 
                          <void property="name"> 
                           <string>1</string> 
                          </void> 
                          <void property="persistent"> 
                           <boolean>true</boolean> 
                          </void> 
                         </object> 
                        </void> 
                       </object> 
                      </void> 
                      <void property="name"> 
                       <string>hops</string> 
                      </void> 
                      <void property="persistent"> 
                       <boolean>true</boolean> 
                      </void> 
                     </object> 
                    </void> 
                   </object> 
                  </void> 
                  <void property="name"> 
                   <string>1</string> 
                  </void> 
                  <void property="persistent"> 
                   <boolean>true</boolean> 
                  </void> 
                 </object> 
                </void> 
               </object> 
              </void> 
              <void property="name"> 
               <string>links</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
             </object> 
            </void> 
            <void method="put"> 
             <string>passwd_crypt</string> 
             <object class="org.flowvisor.config.ConfStrEntry"> 
              <void property="name"> 
               <string>passwd_crypt</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
              <void property="string"> 
               <string>25901caa208eb419c85254bcefbda59a</string> 
              </void> 
             </object> 
            </void> 
            <void method="put"> 
             <string>creator</string> 
             <object class="org.flowvisor.config.ConfStrEntry"> 
              <void property="name"> 
               <string>creator</string> 
              </void> 
              <void property="persistent"> 
               <boolean>true</boolean> 
              </void> 
              <void property="string"> 
               <string>fvadmin</string> 
              </void> 
             </object> 
            </void> 
           </object> 
          </void> 
          <void property="name"> 
           <string>charlie</string> 
          </void> 
          <void property="persistent"> 
           <boolean>true</boolean> 
          </void> 
         </object> 
        </void> 
       </object> 
      </void> 
      <void property="name"> 
       <string>slices</string> 
      </void> 
      <void property="persistent"> 
       <boolean>true</boolean> 
      </void> 
     </object> 
    </void> 
    <void method="put"> 
     <string>config_version</string> 
     <object class="org.flowvisor.config.ConfIntEntry"> 
      <void property="int"> 
       <int>2</int> 
      </void> 
      <void property="name"> 
       <string>config_version</string> 
      </void> 
      <void property="persistent"> 
       <boolean>true</boolean> 
      </void> 
     </object> 
    </void> 
    <void method="put"> 
     <string>vt_db_type</string> 
     <object class="org.flowvisor.config.ConfStrEntry"> 
      <void property="name"> 
       <string>vt_db_type</string> 
      </void> 
      <void property="persistent"> 
       <boolean>true</boolean> 
      </void> 
      <void property="string"> 
       <string>ram</string> 
      </void> 
     </object> 
    </void> 
    <void method="put"> 
     <string>vt_db_port</string> 
     <object class="org.flowvisor.config.ConfIntEntry"> 
      <void property="name"> 
       <string>vt_db_port</string> 
      </void> 
      <void property="persistent"> 
       <boolean>true</boolean> 
      </void> 
     </object> 
    </void> 
    <void method="put"> 
     <string>version</string> 
     <object class="org.flowvisor.config.ConfStrEntry"> 
      <void property="name"> 
       <string>version</string> 
      </void> 
      <void property="persistent"> 
       <boolean>true</boolean> 
      </void> 
      <void property="string"> 
       <string>flowvisor-0.8.1</string> 
      </void> 
     </object> 
    </void> 
   </object> 
  </void> 
  <void property="name"> 
   <string></string> 
  </void> 
  <void property="persistent"> 
   <boolean>true</boolean> 
  </void> 
 </object> 
</java> 
